<div class="contenedor">
  <!-- Spinner -->
  <div class="spinner-container" *ngIf="spinnerStatus">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- Alert TimeOut -->
  <div class="alert-timeout" *ngIf="failedToDownload">
    <i class="ti ti-alert-hexagon-filled"></i>
    <span>An error has occurred, please try again or later.</span>
  </div>

  <!-- Alert Downloading -->
  <div class="alert-downloading" *ngIf="startDownloading">
    <span>Downloading: {{VideoSelectedDetails.title}}</span>
    <div class="progress">
      <div class="bar">{{ generateProgressBar() }}</div>
      <span class="bar-details">{{progressBar.porcent}}% | {{progressBar.loaded}}/{{progressBar.total}}</span>
    </div>
    <span *ngIf="progressBar.porcent === 100">
      Downloaded! ヾ(＠⌒ー⌒＠)ノ
    </span>
  </div>

  <header>
    <span>Youtube Downloader</span>
    <i #menuIcon *ngIf="VideoSelectedDetails.title != ''" (click)="hiddeSideBar()" class="ti ti-menu-2"></i>
  </header>

  <div style="width: 100%; position: relative;">
    <div class="search-bar">
      <div class="input">
        <i class="ti ti-search icon"></i>
        <input #inputsearcher placeholder="Search Youtube video or paste URL" type="search" [formControl]="input">
      </div>
    </div>

    <!-- Video Selected Details -->
    <section #SelectedVideoSideBar class="sidebar" [ngClass]="{'showSideBar': sideBarStatus}">
      <div class="video-container">
        <youtube-player [videoId]="VideoSelectedDetails.id" [width]="375" [height]="192" [ngStyle]="{'padding':'0', 'margin':'0'}"></youtube-player>
      </div>

      <div class="details">
        <h1 style="font-weight: 600;">{{VideoSelectedDetails.title}}</h1>
        <p class="description" *ngIf="VideoSelectedDetails.description != ''">
          <span>{{VideoSelectedDetails.description}}</span>
        </p>
      </div>

      <div class="options" style="user-select: none;">
        <mat-form-field>
          <mat-label>Format</mat-label>
          <mat-select [(value)]="DownloadOptions.format">
            <mat-option value="audioandvideo">Video</mat-option>
            <mat-option value="audioonly">Audio</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quality</mat-label>
          <mat-select [(value)]="DownloadOptions.quality">
            <mat-option value="highest">Highest</mat-option>
            <mat-option value="lowest">Lowest</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="download">
        <button mat-raised-button (click)="Download()">
          <span>
            <i class="ti ti-download"></i>Download
          </span>
        </button>
        <button mat-raised-button (click)="hiddeSideBar()">
          <span>
            <i class="ti ti-arrow-back"></i>Back
          </span>
        </button>
      </div>
    </section>

    <div class="videos">

      <div class="title">
        <h1 class="titulo" *ngIf="!inputResult">Most Popular Videos</h1>
        <h1 class="titulo" *ngIf="inputResult">Results of "{{inputResult}}"</h1>
      </div>

      <div class="card-container" *ngFor="let video of videosDetails" (click)="SelectVideo(video)">
        <img src="{{video.img}}" alt="{{video.title}}">

        <div class="details">
          <div style="display: flex; gap: 10px; padding: 10px 0px;">
            <img src="{{video.img}}" alt="image from video {{video.title}}">
            <span title="{{video.title}}">{{video.title}}</span>
          </div>

          <div class="author">
            <span>{{video.channelTitle}}</span>
            &#8226;
            <span>Published {{video.publishedAt | date: "mediumDate"}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>