<div class="contenedor">

  <header>
    <i class="ti ti-brand-youtube icon"></i>
    <span>YOUTUBE DOWNLOADER</span>
  </header>

  <div class="content">

    <div style="display: flex; flex-direction: column; width: 100%; align-items: center; justify-content: center;">
      <div class="search-bar">
        <div class="input">
          <i class="ti ti-unlink icon"></i>
          <input type="text" placeholder="Enter Youtube URL here">
        </div>
      </div>
      <section class="images">
        <img src="https://www.xtrafondos.com/wallpapers/musica-lofi-finn-de-hora-de-aventura-9453.jpg" alt="" srcset="">
      </section>
    </div>

    <!-- Side Bar -->
    <div class="sidebar">
    </div>

  </div>


</div>